<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <!--this nav bar is incomplete - missing javascript functionality-->
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Wine Key</li>
      <li><a href="/home">Home</a></li>
      <li>
        <a href="#">Stores</a>
        <ul class="menu vertical">
          {{!-- <select class="locations"> --}}
          <li class="location" value="1"><a href="/api/restaurants/1">AERLUME</a></li>
          <!--for each restaurant name-->
          <li class="location" value="2"><a href="/api/restaurants/2">AQUA</a></li>
          <li class="location" value="3"><a href="/api/restaurants/3">El Gaucho Bellevue</a></li>
          <li class="location" value="4"><a href="/api/restaurants/4">El Gaucho Seattle</a></li>
          <li class="location" value="5"><a href="/api/restaurants/5">El Gaucho Tacoma</a></li>
          {{!-- </select> --}}
        </ul>
      </li>
      <li><a href="/api/wines/winecatalog">Wine Catalog</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" class="searchField" placeholder="Find Wines"></li>
      <li><button type="button" class="button submitSearch" id="search">Search</button></li>
    </ul>
  </div>
</div>

<div class="grid-x grid-padding-x align-center">
  <div class="cell small-6"><img width="300" height="200" class="center"
      src="https://chairish-prod.freetls.fastly.net/image/product/master/1a63fc03-f551-4b0c-8406-f7e68850026a/vintage-italian-brass-skeleton-key-with-hidden-corkscrew-wine-and-bottle-opener-1870"
      alt="winekey" />
  </div>
</div>
<br>
<h1>{{wineName}}</h1>
<br>
<br>
<!--change to padding later on-->
<br>
<div class="grid-container fluid">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-8">
      <table id="searchedWineTable">
        <thead>
          <tr>
            <th width="300">Location</th>
            <th width="300">Name & Vintage</th>
            <th width="300">Quantity</th>
            <th width="300">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {{#each Inventories}}
          <tr>
            <td>{{Restaurant.restaurantName}}</td>
            <td>{{Wine.wineName}}, {{Wine.year}}</td>
            <td>{{quantity}}</td>
            <td>{{Restaurant.phoneNumber}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer>
  <div class="grid-x grid-padding-x align-center position-fixed-bottom footer">
    <div class="cell small-6"><img class="center"
        src="https://media-exp1.licdn.com/dms/image/C560BAQHbXv4XE0Fd4A/company-logo_200_200/0?e=2159024400&v=beta&t=UEzazauMofT-xZyntpg4RE-4LvlOspaPUzU85jucokA"
        alt="fvlogo" />
    </div>
  </div>
</footer>

<script src="/assets/js/index_script.js"></script>