<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

{{>navbar}}

<br>
<br>
<h1>{{oneRestaurant.restaurantName}}</h1>
<h2>{{oneRestaurant.address}}</h2>
<h2>{{oneRestaurant.phoneNumber}}</h2>

<div class="grid-x grid-padding-x align-center">
  <div class="callout alert" data-closable>
    <h5 class="textcenter">Oops...</h5>
    <p>Wine already exists in catalog/inventory!</p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span class="calloutX" aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<br>
<br>
<!--change to padding later on-->
<br>


<form>
  <div class="grid-container fluid">
    <div class="grid-x grid-padding-x align-center">
      <h4>Add a Wine from Catalog to Store Inventory</h4>
    </div>
    <div class="grid-x grid-padding-x align-center">
      <form>
        <!--created form class for ajax-->
        <div class="medium-2 cell">
          <select id="newWineName" name="wineName">
            <option default>Select from Catalog</option>
            {{#each wine}}
            <option value={{id}}>
              {{wineName}} {{year}}
            </option>
            {{/each}}
          </select>
        </div>
        <div class="medium-2 cell">
          <input id="newWineQuantity" name="wineQuantity" type="text" placeholder="Quantity">
        </div>
        <input type="hidden" id="restaurantId" value={{oneRestaurant.id}}>
      </form>
      <div id="addwinepadding"><button type="button" class="button rounded bordered shadow primary"
          id="addInventory">Add
          Wine</button>
      </div>
    </div>
    <div></div>
  </div>
</form>
<br>
<br>
<br>

<form>
  <div class="grid-container fluid">
    <div class="grid-x grid-padding-x align-center">
      <h4>Add a New Wine to Company Catalog</h4>
    </div>
    <div class="grid-x grid-padding-x align-center">
      <form>
        <div class="medium-2 cell">
          <input id="createWineName" name="wineName" type="text" placeholder="Bottle Name">
        </div>
        <div class="medium-2 cell">
          <input id="createWineYear" name="wineYear" type="text" placeholder="Vintage">
        </div>
      </form>
      <div id="addwinepadding"><button type="button" class="button rounded bordered shadow primary addWine">Add
          Wine</button>
      </div>
</form>
</div>
</div>
</form>

<br>
<br>
<br>


<div class="grid-container fluid">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-10 align-items-center">
      <table id="restaurantInventory" class="hover align-items-center radius bordered shadow">
        <!--added table id-->
        <thead>
          <tr>
            <th width="400">Wine Name</th>
            <th class="textcenter" width="100">Vintage</th>
            <th class="textcenter" width="100">Quantity</th>
            <th width="200"></th>
            <th width="1"></th>
          </tr>
        </thead>
        <tbody class="align-items-center">
          {{#each oneRestaurant.Inventories}}
          <tr>
            <!-- table for specific restaurant's wine inventory-->
            <td>{{Wine.wineName}}</td>
            <td class="textcenter">{{Wine.year}}</td>
            <td class="textcenter">{{quantity}}</td>
            <input type="hidden" class="id" width="1" value={{id}}></input>
            <td>
              <div class="input-group updatepadding">
                <span class="input-group-label">#</span>
                <input class="input-group-field newQuantity" data-quantity="text" type="text">
                <div class="input-group-button">
                  <input type="submit" data-quantity="" class="button bordered shadow success changeQuantity"
                    data-id={{id}} value="Update">
                </div>
              </div>
            </td>
            <td class="removepadding"><button type="button" class="button rounded bordered shadow alert deleteInventory"
                data-id={{id}}>Remove</button></td>
            {{/each}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-6"><img class="center"
        src="https://media-exp1.licdn.com/dms/image/C560BAQHbXv4XE0Fd4A/company-logo_200_200/0?e=2159024400&v=beta&t=UEzazauMofT-xZyntpg4RE-4LvlOspaPUzU85jucokA"
        alt="fvlogo" />
    </div>
  </div>
</footer>