<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <!--this nav bar is incomplete - missing javascript functionality-->
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Wine Key</li>
      <li><a href="/home">Home</a></li>
      <li>
        <a href="#">Stores</a>
        <ul class="menu vertical">
          <li class="location" value="1"><a href="/api/restaurants/1">AERLUME</a></li>
          <!--for each restaurant name-->
          <li class="location" value="2"><a href="/api/restaurants/2">AQUA</a></li>
          <li class="location" value="3"><a href="/api/restaurants/3">El Gaucho Bellevue</a></li>
          <li class="location" value="4"><a href="/api/restaurants/4">El Gaucho Seattle</a></li>
          <li class="location" value="5"><a href="/api/restaurants/5">El Gaucho Tacoma</a></li>
        </ul>
      </li>
      <li><a href="/winecatalog">Wine Catalog</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Find Wines"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>

<div class="grid-x grid-padding-x align-center">
  <div class="cell small-6"><img width="300" height="200" class="center"
      src="https://chairish-prod.freetls.fastly.net/image/product/master/1a63fc03-f551-4b0c-8406-f7e68850026a/vintage-italian-brass-skeleton-key-with-hidden-corkscrew-wine-and-bottle-opener-1870"
      alt="winekey" />
  </div>
</div>
<br>


<br>
<h1>{{restaurantName}}
</h1>
<h2>{{address}}</h2>
<h2>{{phoneNumber}}</h2>

<br>
<br>
<!--change to padding later on-->
<br>
<form>
  <div class="grid-container fluid">
    <div class="grid-x grid-padding-x align-center">
      <h4>Add a New Item to Inventory</h4>
    </div>
    <div class="grid-x grid-padding-x align-center">
      <form>
        <!--created form class for ajax-->
        <div class="medium-2 cell">
          <input id="newWineName" name="wineName" type="text" placeholder="Bottle Name">
          <!--added input id-->
        </div>
        <div class="medium-2 cell">
          <input id="newWineYear" name="wineYear" type="text" placeholder="Vintage">
          <!--added input id-->
        </div>
        <div class="medium-2 cell">
          <input id="newWineQuantity" name="wineQuantity" type="text" placeholder="Quantity">
          <!--added input id-->
        </div>
        <div class="medium-2 cell">
          <input id="newWineVariety" name="wineVariety" type="text" placeholder="Variety">
          <!--added input id-->
        </div>
        <input type="hidden" id="restaurantId" value={{id}}>
      </form>
      <div id="addwinepadding"><button type="button" class="button rounded bordered shadow primary addWine">Add
          Wine</button>
      </div>
    </div>
    <div></div>
  </div>
</form>

<br>
<br>
<br>


<div class="grid-container fluid">
  <h4 class="center">Inventory</h4>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-10 align-items-center">
      <table id="restaurantInventory" class="rounded align-items-center">
        <!--added table id-->
        <thead>
          <tr>
            <th width="400">Wine Name</th>
            <th width="100">Vintage</th>
            <th width="100">Variety</th>
            <th width="100">Quantity</th>
            <th width="1"></th>
            <th width="200">Actions</th>
            {{!-- <th width="100"></th> --}}
          </tr>
        </thead>
        <tbody class="align-items-center">
          {{#each Inventories}}
          <tr>
            <!-- table for specific restaurant's wine inventory-->
            <td>{{Wine.wineName}}</td>
            <td>{{Wine.year}}</td>
            <td>{{Wine.variety}}</td>
            <td>{{quantity}}</td>
            <input type="hidden" class="id" width="1" value={{id}}></input>
            <td>
              <div class="input-group updatepadding">
                <span class="input-group-label">#</span>
                <input class="input-group-field newQuantity" type="number">
                <div class="input-group-button">
                  <input type="submit" class="button success changeQuantity" data-id={{id}}
                    data-newQuantity={{quantity}} value="Update">
                </div>
              </div>
            </td>
            <td class="removepadding"><button type="button" class="button rounded bordered shadow alert deleteWine"
                data-id={{this.id}}>Remove</button></td>
            {{/each}}
          </tr>
          {{!-- <tr>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>
                    <div class="input-group updatepadding">
                      <span class="input-group-label">#</span>
                      <input class="input-group-field" type="number">
                      <div class="input-group-button">
                        <input type="submit" class="button changeQuantity" value="Update">
                      </div>
                    </div>
                  </td>
                  <td class="removepadding"><button type="button" class="button rounded bordered shadow alert">Remove</button></td>
                </tr>
                <tr>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>
                    <div class="input-group updatepadding">
                      <span class="input-group-label">#</span>
                      <input class="input-group-field" type="number">
                      <div class="input-group-button">
                        <input type="submit" class="button" value="Update">
                      </div>
                    </div>
                  </td>
                  <td class="removepadding"><button type="button" class="button rounded bordered shadow alert">Remove</button></td>
                </tr> --}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer>
  <div class="grid-x grid-padding-x align-center position-fixed-bottom footer">
    <div class="cell small-6"><img class="center"
        src="https://media-exp1.licdn.com/dms/image/C560BAQHbXv4XE0Fd4A/company-logo_200_200/0?e=2159024400&v=beta&t=UEzazauMofT-xZyntpg4RE-4LvlOspaPUzU85jucokA"
        alt="fvlogo" />
    </div>
  </div>
</footer>

<script src="/assets/js/specificrestaurant_script.js"></script>