<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="example-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

{{>navbar}}

<br>
<br>
<br>

<h1>Manage Store Details</h1>
<br>
<br>
<!--change to padding later on-->
<br>
<div class="grid-container fluid">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-8">
            <table id="RestaurantCatalog" class="hover radius bordered shadow">
                <!--added table id-->
                <thead>
                    <tr>
                        <th width="500">Store</th>
                        <th class="textcenter" width="500">Details</th>
                        <th class="textcenter" width="200">Remove Store</th>
                        {{!-- <th width="500">Locations</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each restaurant}}
                    <tr>

                        <td>{{restaurantName}}
                            <br>
                            {{phoneNumber}}
                            <br>
                            {{address}}
                        </td>
                        <!--to pull information from tables-->
                        <td>
                            <table>
                                {{!-- <div class="input-group updatepadding"> --}}
                                <tr>
                                    <div class="input-group-button">
                                        <td>
                                            <input class="input-group-field toGrab" id={{id}} type="text"
                                                value="{{restaurantName}}">
                                        </td>
                                        <td>
                                            <div class="input-group-button">
                                                <input type="submit" class="button large bordered shadow success updateRestaurantName"
                                                    data-id={{id}} value="Update">
                                            </div>
                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="input-group-field toGrab" type="text" value="{{phoneNumber}}">
                                    </td>
                                    <td>
                                        <div class="input-group-button">
                                            <input type="submit" class="button large bordered shadow success updatePhoneNumber" data-id={{id}}
                                                value="Update">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="input-group-field toGrab" type="text" value="{{address}}">
                                    </td>
                                    <td>
                                        <div class="input-group-button">
                                            <input type="submit" class="button large bordered shadow success updateAddress" data-id={{id}}
                                                value="Update">
                                        </div>
                                    </td>
                                </tr>
        </div>
        </table>
        </td>
        
        <td class="center removepadding removeStore"><button type="button" class="button rounded bordered shadow alert deleteRestaurant"
                data-id={{id}}>Remove</button>
        </td>
        </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
</div>
</div>
<br>
<br>
<form>
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x align-center">
            <h4>Add a New Restaurant to Company Catalog</h4>
        </div>
        <div class="grid-x grid-padding-x align-center center">
            <form>
                <div class="medium-2 cell">
                    <label for="Store Name" style="display:block; color:white;"></label>
                    <input id="createRestaurantName" name="wineName" type="text" placeholder="Store Name">
                </div>
                <div class="medium-2 cell">
                    <label for="Phone Number" style="display:block; color:white;"></label>
                    <input id="createPhoneNumber" name="phoneNumber" type="text" placeholder="Phone Number">
                </div>
                <div class="medium-2 cell">
                    <label for="Address" style="display:block; color:white;"></label>
                    <input class="center" id="createAddress" name="Adress" type="text" placeholder="Address">
                </div>
            </form>
            <div class="addRestaurantpadding"><button type="button"
                    class="button rounded bordered shadow primary addRestaurant" style="margin-top:23px">Add
                    Restaurant</button>
            </div>
        </div>
    </div>
</form>
{{!-- <div class="grid-x grid-padding-x align-center">
    <form id="bulkForm">
        <div>
            <h5 style="color:white;">Need to Add in Bulk?</h5>
        </div>
        <div id="expandedForm">
            <div id="addRestaurantpadding"><button type="button"
                    class="button rounded bordered shadow primary" id="expandRestaurantFormBtn"
                    style="margin-top:23px">Expand Form</button>
            </div>
        </div>
    </form>
</div> --}}
<br>
<br>
<footer>
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-6"><img class="center"
                src="https://media-exp1.licdn.com/dms/image/C560BAQHbXv4XE0Fd4A/company-logo_200_200/0?e=2159024400&v=beta&t=UEzazauMofT-xZyntpg4RE-4LvlOspaPUzU85jucokA"
                alt="fvlogo" />
        </div>
    </div>
</footer>